/* ==UserStyle==
@name         StretchGemini: Adjustable width for Gemini chat (+ some other useful UI enhancements)
@author       m1kethai
@description  Remove Gemini's default width restrictions in the main chat view and adjust the UI to your liking via one of the custom presets.
@version      1.0.0
@namespace    https://github.com/m1kethai/StretchGemini
@preprocessor less
@var select   stretchFactor             "🧘 Stretch Factor" {
    "⛔ None":         "0",
    "🤏 Just a bit":   "1",
    "✨ Pretty roomy": "2",
    "👹 Spacious*":    "3",
    "🫨 Unbounded":    "4"
}
==/UserStyle== */

@-moz-document domain("gemini.google.com") {

    /* Default Vars: */
    /* --bard-sidenav-open-width: 320px; */
    /* --bard-sidenav-closed-width: 72px; */
    /* --bard-sidenav-open-closed-width-diff: 248px; */

    html {
        .resizedChat() {
            @defaultMw: 760px;
            @widthMultiplier:
                if(@stretchFactor =1, 1.33,
                if(@stretchFactor =2, 1.66,
                if(@stretchFactor =3, 2.0,
                none
            )));
            @adjustedMw: if(
                (isnumber(@widthMultiplier)),
                calc(@defaultMw*@widthMultiplier),
                none
            );
            max-width: @adjustedMw;
        }

        div.conversation-container when (@stretchFactor >=1) {
            .resizedChat() !important;
        }
    }
}
