/* ==UserStyle==
@name         StretchGemini: Resizable width for the Gemini chat UI
@author       m1kethai
@description  Maximize the usable screen real estate by expanding Gemini's main chat view (or removing all width restrictions completely) - plus some extra toggles to hide certain UI elements and apply other various UI enhancements.
@version      1.1
@namespace    https://github.com/m1kethai/userstyle__stretchgemini
@preprocessor less
@var select   stretchFactor "🧘 Chat view width preset" {
    "⛔ None":                "0",
    "🤏 Some breathing room": "1",
    "🙆 Pretty relaxed":      "2",
    "✨ Spacious*":           "3",
    "🙌 Unbounded":           "4"
}
@var checkbox enableBonusFeatures "👇 Enable bonus UI enhancements below 👇" 0
@var checkbox hideDisclaimer      "⚠️ Hide disclaimer" 1
@var checkbox hideAvatar          "🙈 Hide Gemini chat avatar" 1
==/UserStyle== */

@-moz-document domain("gemini.google.com") {
    html {
        /* ===== EXPAND CHAT UI ===== */
        .expandChatUI() when (@stretchFactor >=1) {
            @defaultMw: 760px;
            @widthMultiplier:
                if((@stretchFactor =1), 1.33,
                if((@stretchFactor =2), 1.66,
                if((@stretchFactor =3), 2.0, null
            )));
            @adjustedMw: if(
                (isnumber(@widthMultiplier)), (@defaultMw*@widthMultiplier), none
            );
            max-width: @adjustedMw;
        }
        div.conversation-container {
            .expandChatUI() !important;
        }

        & when (@enableBonusFeatures =1) {
            /* ===== HIDE DISCLAIMER ===== */
            div.input-area-container when(@hideDisclaimer =1) {
                ~ hallucination-disclaimer {
                    display: none !important;
                }
                padding-bottom: 0.5rem;
            }

            /* ===== HIDE GEMINI AVATARS ===== */
            div.avatar-gutter when(@hideAvatar =1) {
                display: none !important;
            }
        }
    }
}